body{
    background-color: #fff;
}
.container{
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.test {
	padding: 20px;
	border: 1px solid #DDD;
	box-shadow: 0 0 15px #DDD;
	margin-bottom: 30px;
}
header{
    font-size: 50px;
}